{% load static tailwind_tags %}
{% load humanize %}
<script type="module" src="https://md-block.verou.me/md-block.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<head>
    <title>{{ post.title }} by {{ post.author|capfirst }}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% tailwind_css %}
</head>

<body class="bg-black text-white">
    <div class="flex justify-center md:pt-5">
        <div class="w-[80ch]  min-h-screen">
            <div class="min-h-[70vh]">
                <p class="md:text-9xl text-5xl text-center mt-10 font-semibold">{{ post.title }}</p>
                <p class="md:text-3xl pl-10 pt-3 pb-5 text-white/70">by {{ post.author|capfirst }}, {{ post.date_posted|naturalday }}</p>
                <md-block>
                        {{ post.content }}
                </md-block>
            </div>

            <div class="bg-white/15 p-5 w-full h-min min-h-[calc(30vh_-_2.5rem)] rounded-t-2xl">
                <p class="font-bold pb-5">comments</p>
                <form action="{% url 'comment' post.id %}" method="post" class="sticky">
                    {% csrf_token %}
                    <fieldset class="bg-white/5 p-3 rounded-2xl ring-2 ring-white/10">
                        <label class="">
                            <input type="text" name="comment" class="bg-white/10 rounded-full outline-none py-2 px-5 shadow-sm focus:bg-white/15" placeholder="comment" required>
                        </label>
                        <button value="comment" type="submit" class="bg-sky-500 p-2 rounded-full px-3 hover:bg-sky-400">submit</button>
                    </fieldset>
                </form>
                {% for comment in post.comment_set.all %}
                	<div class="py-3 hover:bg-white/10 pl-3 rounded-2xl">
                        <p class="text-white/70">{{ comment.author }}</p>
                        <p>{{ comment.content }}</p>
                        <form method="post" id="likeForm" class="text-xl" data-comment="{{ comment.id }}">
                            {% csrf_token %}
                            <fieldset>
                                <button type="submit" value="1" onclick="increment=1" name="like">👍</button>
                                <p class="inline-block">{{ comment.likes }}</p>
                                <button type="submit" name="like" onclick="increment=-1" value="-1">👎</button>
                            </fieldset>
                        </form>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</body>

<script defer>
    var increment = 0

    $(document).on('submit', '#likeForm', function (e) {
        e.preventDefault();
        const commentId = e.target.dataset.comment


        $(`#likeForm[data-comment="${commentId}"] > fieldset > p.inline-block`).text(function(a, b) {
          return +b + increment
        })

        $.ajax({
            type: "POST",
            url: `/blog/commentlike/${commentId}`,
            data: {
               like: increment,
               csrfmiddlewaretoken: $(`#likeForm[data-comment="${commentId}"] > input[name="csrfmiddlewaretoken"]`).val()
            },

        })
    })
</script>

<style>
    md-block {
        font-size: 1rem;
        padding-left: .5rem;
        h1 {
            font-size: 2rem;
            padding-bottom: 10px;
            padding-top: 5px;
        }
        h2 {
            font-size: 1.75rem;
            padding-bottom: 5px;
            padding-top: 5px;

        }
        h3 {
            font-size: 1.5rem;
        }
    }
</style>