{% load static tailwind_tags %}

<head>
    {% tailwind_css %}
    <title>the blog</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body class="bg-black min-h-screen text-white">
<div class="flex flex-row max-md:flex-col">
    <div class="w-full h-full flex items-center md:min-h-screen max-md:min-h-24">
        <p class=" lg:text-9xl md:text-8xl font-semibold max-md:text-5xl text-center max-md:w-full md:pl-10">The Blog</p>

    </div>
    <div class="w-full h-full p-5">
        {% for post in posts %}
{#            blog post #}
            <a href="{% url 'blog' post.id %}">
                <div class="bg-gray-800 p-5 rounded-lg shadow-lg text-white my-5">
                    <p class="text-2xl">{{ post.title }} <span class="text-white/70">by {{ post.author|capfirst }}</span></p>
                    <p class="text-white/70 pt-1">{{ post.description }}</p>
                </div>
            </a>
        {% endfor %}

    </div>
</div>
</body>

