{% load tailwind_tags %}
{#ignore this file. it will be sort of like a layout.tsx file in Next.js.#}
<head>
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block title %}
    	<title>Change The World</title>
    {% endblock %}
</head>

<body>
    <div class="fixed bg-gray-950 text-white py-5 w-screen top-0">
        <p>hello!</p>
    </div>
    {% block content %}
    {% endblock %}
</body>
