{% extends 'layout.html' %}

{% block title %}
    <title>The Change The World Initiative</title>
{% endblock %}
{% block content %}
    <body class="bg-black text-white">
    <section id="home" class="w-screen h-screen flex flex-col">
        <div class="w-full h-full grid place-items-center">
            <div class="">
                <p class="font-bold text-7xl bg-clip-text text-transparent bg-gradient-to-t from-gray-100 to-75% to-slate-800 py-10 text-center">
                    Let's change the world together.</p>
                {#                TODO: change to something#}
                <p class="text-center text-gray-300 p-2">cuz why not lmao I have no idea what to put here, and I am to
                    lazy to put a lorem ipsum so read through that</p>
                <div class="grid place-items-center w-full h-min">
                    <div class="flex flex-row w-min justify-items-center items-center gap-3 mt-5">
                        <a href="https://github.com/ChangeTheeWorld"
                           class="home-button">GitHub</a>
                        <a href="{% url 'index' %}" class="home-button">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-min bg-neutral-900 sm:px-3 pt-2">
            <p class="font-bold text-3xl max-sm:pl-3 pb-2">Our Team</p>
            <div class="h-24 flex flex-row gap-3 overflow-scroll pb-2">
                {% for member in members %}
                    <a href="{{ member.html_url }}" target="_blank">
                        <div class="w-full h-full max-sm:grid max-sm:place-items-center max-sm:w-screen">
                            <div class="h-full flex flex-row gap-2 p-2 hover:bg-white/10 rounded-xl w-min transition-all duration-75">
                                <div class="h-full aspect-square">
                                    <img src="{{ member.avatar_url }}" alt="{{ member.login }}'s profile picture"
                                         class="rounded-full">
                                </div>
                                <div class="w-full h-full grid place-items-center">
                                    <p class="m-auto">{{ member.login }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </section>
    </body>
{% endblock %}